.mywork {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}

.mywork-title {
    position: relative;
}

.mywork-title h1 {
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;
}

.mywork-title img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;  
}

.mywork-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}

.mywork-container img {
    box-sizing: border-box;
    width: 419px;
    height: 280px;
    transform: 0.3s;
    cursor: pointer;
}

.mywork-container img:hover{
    transform: scale(1.10);
    border: 4px solid #ff00ff;
    border-radius: 10px;
    transition: 0.3s;
}

.mywork-item {
    position: relative;
    display: inline-block;
  }
  
  .mywork-item img {
    width: 100%; 
    height: auto;
  }
  
  .mywork-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center; 
    align-items: center; 
    background: rgba(0, 0, 0, 0.5); 
    color: white; 
    font-size: 1.5em;
    opacity: 0; 
    transition: opacity 0.3s ease;
  }
  
  .mywork-item:hover .mywork-overlay {
    opacity: 1; 
  }

  .mywork-overlay a {
    color: white;
    font-size: 1.5em;
    text-decoration: none; 
  }
  
.mywork-showmore {
    display: flex;
    gap: 15px;
    border-radius: 50px;
    border: 2px solid white;
    padding: 30px 60px;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 80px;
    transition: 0.6s;
    cursor: pointer;
}

.mywork-showmore:hover{
    gap: 30px;
    transition: 0.6s;
}

@media(max-width:768px) {
    .mywork {
        gap: 50px;
        margin: 50px 70px;
        align-items: start;
    }
    .mywork-title h1 {
        padding: 0;
        font-size: 50px;
        font-weight: 600;
    }
    .mywork-title img {
        width: 130px;
        margin-right: -20px;
    }
    .mywork-container{
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }
    .mywork-container img {
        width: 100%;
        height: 100%;
    }
    .mywork-showmore {
        padding: 20px 40px;
        font-size: 18px;
        margin: 50px auto;
        cursor: pointer;
    }
}