.footer {
    margin: 50px 170px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer-top {
    display: flex;
    justify-content: space-between;
}

.footer-top-left h1 {
    font-size: 40px;
    background: linear-gradient(270deg, #DF8908 50%, #B415FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer-top-left p {
    font-size: 20px;
    max-width: 400px;
}

.footer-top-right {
    display: flex;
    align-items: center;
    gap: 35px;
}

.footer-email-input {
    display: flex;
    gap: 30px;
    padding: 20px 30px;
    border-radius: 50px;
    background: #323232;
    padding-right: 80px;
}

.footer-email-input input {
    outline: none;
    border: none;
    background: transparent;
    color: #a0a0a0;
    font-family: Outfit;
    font-size: 18px;
}

.footer-subscribe {
    font-size: 20px;
    padding: 22px 50px;
    border-radius: 50px;
    background: linear-gradient(264deg, #DF8908 -5.09%, #B415FF 106.28%);
    cursor: pointer;
    transition: 0.3s;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    margin-bottom: 50px;
}

.footer-bottom-left {
    font-size: 16px;
}

.footer-bottom-right {
    display: flex;
    align-items: center;
    gap: 50px;
}

.footer-email-input:hover {
    border: 2px solid white;
}

.footer-subscribe:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.footer-iconTop {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(264deg, #DF8908 -5.09%, #B415FF 106.28%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.footer-iconTop img {
    width: 20px;
    height: 20px;
}

.footer-iconTop:hover {
    transform: scale(1.2);
}

@media (max-width: 768px) {
    .footer {
        margin: 50px 70px;
    }

    .footer-top {
        flex-direction: column;
        gap: 50px;
    }

    .footer-bottom {
        flex-direction: column-reverse;
        align-items: flex-start;
        gap: 20px;
    }

    .footer-bottom-right {
        flex-direction: column;
        gap: 20px;
    }
}
